:root {
  // base
  --font-family: "Heading-Now", sans-serif;
  --content-width: 1920px;
  --container-offset: 75px;
  --container-offset-mobile: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-mobile: calc(var(--content-width) + (var(--container-offset-mobile) * 2));

  // colors
  --light-color: #fff;
  --green-color:   #0AE203;
  --blue-color: #02123A;
  --accent-color: #F7F7F1;
  --footer-color: rgba(72, 74, 79, 1);

}
