.swiper {

  &__media {
    position: relative;
    margin: 45px 0;

    @include tablet {
      margin: 25px 0;
    }
  }

  &__date {
    position: absolute;
    width: 175px;
    height: 65px;
    padding-top: 15px;
    top: 0;
    left: 0;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    background-color: var(--green-color);

    @include tablet {
      width: 100px;
      height: 35px;
      padding-top: 10px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__arrow {
    @include flex-all-center;
  }

  &__btn {
    height: 70px;
    width: 70px;
    margin: 0 10px 0 10px;
    border: solid 3px;
    border-color: var(--green-color);
    border-radius: 50%;
    color: var(--green-color);
    background-color: transparent;

    @include tablet {
      height: 50px;
      width: 50px;
    }
  }

  &__scroll {
    margin-left: 20px;
    border-radius: 40px;
    width: 500px;
    height: 5px;
    background: url(../../image/swiper/swiper.png);
    background-position: center;
    background-size: cover;

    @include tablet {
      width: 350px;
    }

    @include small-tablet {
      display: none;
    }
  }

  &-scrollbar-drag {
    background: url(../../image/swiper/swiper-drag.png);
    background-position: center;
    background-size: cover;
  }

  &__partner {
    background-color: var(--blue-color);
  }
}